@import "settings";
@import "normalize";
//@import "foundation";

// Or selectively include components
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
@import "foundation/components/grid";
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@import "colors";
@import "rss";

body {
  margin: 0;
  background-color: $white;
  font-family: Georgia, 'Lucida Grande', Helvetica, sans-serif;
}
a {
  color: $dark-gray;
}
.reddot {
  color: $whitebrd-red;
}
.logo {
  text-align: center;
  font-family: "franklin-gothic-urw", 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  font-weight: normal;
  color: $black;
  padding-bottom: 2rem;
  margin: 2rem 0 0 0;

  a {
    color: $black;
    text-decoration: none;
  }
}

.gray-underline {
  border-bottom: solid 1px $mid-gray;
}

@media #{$medium-up} {
  .logo {
    font-size: 4rem;
  }
}

.whitebrd-about {
  font-family: 'franklin-gothic-urw', 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.12rem;
  text-align: center;
  margin: 1rem 0.5rem 1rem 0.5rem;
  padding: 1rem;
  background-color: $light-light-gray;
  a {
    color: $pure-red;
    text-decoration: none;
  }
  h2 {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 0 0 0.5rem 0;
  }
  p {
     margin: 0;
     font-size: 1rem;
     line-height: 1.1rem;
   }
}

#content {
  width: 480px;
  margin: auto;
  position: relative;
}
div.post {
  position: relative;
  margin-bottom: 40px;
  padding-right: 20px;
}
div.post div.date {
  position: absolute;
  left: -260px;
  text-align: right;
  width: 230px;
  white-space: nowrap;
  font: normal 34px Helvetica, sans-serif;
  letter-spacing: -2px;
  color: $dark-gray;
  text-transform: uppercase;
  line-height: 35px;
}
div.post div.date div.date_brick {
  float: right;
  height: 30px;
  width: 45px;
  background-color: $pure-red;
  color: #FCFCFC;
  font: Bold 12px Verdana, Sans-Serif;
  text-align: center;
  line-height: 12px;
  margin-left: 10px;
  padding-top: 5px;
  letter-spacing: 0px;
  overflow: hidden;
}
div.post span.permalink {
  display: inline;
  position: absolute;
  color: $light-gray;
  right: -2rem;
  top: 0px;
  font-weight: bold;
  transition: color 1s;
}
div.post:hover span.permalink {
  display: inline;
  color: $pure-red;
  transition: color 0.3s;
}
div.post h2 {
  font-size: 18px;
  font-weight: bold;
  color: $black;
  letter-spacing: -1px;
  margin: 0px 0px 5px 0px;
}
div.post h2 a {
  color: $black;
  text-decoration: none;
}
div.post div.caption {
  font-size: 14px;
  font-weight: bold;
  color: $dark-gray;
  margin-top: 10px;
  padding: 0px 20px 0px 20px;
}
div.post div.caption a {
  color: $dark-gray;
}
span.description p {
  margin: 0;
}
/* Regular Post */

div.post div.regular {
  font-size: 12px;
  color: $dark-gray;
  line-height: 17px;
}
div.post div.regular blockquote {
  font-style: italic;
  border-left: solid 2px $dark-gray;
  padding-left: 10px;
}
/* Quote Post */

div.post div.quote div.quote_text {
  font-family: "franklin-gothic-urw", helvetica, sans-serif;
  font-weight: bold;
  color: $quote-red;
  border-left: solid 5px $white;
  padding-left: 10px;
}
div.post div.quote div.quote_text span.short {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -1px;
}
div.post div.quote div.quote_text span.medium {
  font-size: 25px;
  line-height: 27px;
  letter-spacing: -1px;
}
div.post div.quote div.quote_text span.long {
  font-size: 16px;
  line-height: 20px;
}
div.post div.quote div.quote_text a {
  color: $quote-red;
}
div.post div.quote div.source {
  font-size: 16px;
  font-weight: Bold;
  color: $black;
  margin-top: 5px;
}
div.post div.quote div.source a {
  color: $black;
}
/* Link Post */

div.post div.link a.link {
  font-family: "franklin-gothic-urw", helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: -1px;
  color: $pure-red;
  text-decoration: none;
}
div.post div.link span.description {
  font-size: 1em;
  font-weight: normal;
  color: $dark-gray;
}
/* Conversation Post */

div.post div.conversation ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px 0px 1px;
  border-left: solid 5px $pure-red;
}
div.post div.conversation ul li {
  font-size: 12px;
  padding: 4px 10px 4px 8px;
  color: $black;
  margin-bottom: 1px;
}
div.post div.conversation ul li span.label {
  font-weight: bold;
}
div.post div.conversation ul li span.user_1 {
  color: #c00;
}
div.post div.conversation ul li span.user_2 {
  color: #00c;
}
div.post div.conversation ul li span.user_3 {
  color: #0a0;
}
div.post div.conversation ul li.odd {
  background-color: $pure-red;
}
div.post div.conversation ul li.even {
  background-color: #ff2a00;
}
/* Video Post */

div.post div.video {
  width: 400px;
  margin: auto;
}
/* Footer */

div#footer {
  margin: 40px 0px 30px 0px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: $dark-gray;
}
div#footer a {
  text-decoration: none;
  color: $dark-gray;
}
div#footer a:hover {
  text-decoration: underline;
}
div#footer div#credit {
  font: normal 0.8rem "franklin-gothic-urw", helvetica, sans-serif;
  margin-top: 2rem;
}
.query {
  font-weight: bold;
}
div#footer-pagenav {
  font-family: "franklin-gothic-urw", helvetica, sans-serif;
  font-size: 2.5em;
}
div#footer-archive {
  font-family: "franklin-gothic-urw", helvetica, sans-serif;
  font-size: 1.1rem;
  margin: 0.5rem;
}
